
lite-googlemaps {
  position: relative;
  display: block;
  contain: content;
  cursor: wait;
  max-width: 540px;
}
lite-googlemaps > img {
}
lite-googlemaps > iframe {
  opacity: 0;
  transition: opacity 150ms ease-in;

  /* https://github.com/paulirish/lite-youtube-embed/blob/master/src/lite-yt-embed.css#L35 */
  width: 100%;
  height: 100%;
  position: absolute;
  top: -2px;  /* dunno why the iframe is 304px tall and why the map seems to be shifted down 2px */
  left: 0;
  border: 0;
}
lite-googlemaps.lgm-activated > img {
  pointer-events: none;
}
lite-googlemaps.lgm-activated > iframe {
  opacity: 1;
}
